@import '../css/bootstrap.min.css'
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'
@import 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'
@import '../plugins/datatables/dataTables.bootstrap.css'
@import 'https://code.jquery.com/ui/1.12.0-rc.2/themes/smoothness/jquery-ui.css'
@import '../plugins/select2/select2.min.css'
@import '../css/AdminLTE.min.css'
@import '../css/skins/_all-skins.min.css'
@import '../css/app.min.css'
@import 'colors'

#form-message-error, #form-message-success, .copyPassword
	display none
	
@import 'modal'
@import 'category'
@import 'user'